* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cases-types {
    border-radius: 14px;
    height:15vh;
}

.cases-types span {
    color: white;
}

.home-graph {
    height: 27vh;
}

.recharts-tooltip-label {
    color: #000;
}