 /* unvisited link */
a:link, a:visited, a:active {
	color: gold;
}

/* mouse over link */
a:hover {
	color: lime;
} 

.about {
	background: radial-gradient(circle, rgb(65, 102, 202) -60%, rgb(0, 0, 0) 75%);
	border: 10px double orangered;
	border-radius: 16px;
	color: #ffff4d;
	text-shadow: 2px 2px 8px black;
	padding: 10vh;
	text-align: center;
	transform: translateY(15%);
	width: fit-content;
	margin: 0 auto;
}

.list {
	text-align: left;
	width: max-content;
	margin: 0 auto;
}