.loader {
	height: 60vh;
	pointer-events: none;
	animation: loader-spin infinite 20s linear;
}

.wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes loader-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
